transformers
# accelerate
bitsandbytes
qwen-vl-utils[decord]
peft
datasets
Pillow
torchvision
trl
liger-kernel
cudf-cu13 --extra-index-url https://pypi.nvidia.com

# added now
faiss-gpu
cuml-cu13 --extra-index-url https://pypi.nvidia.com
accelerate>=0.21.0
sentence-transformers
scikit-learn>=1.3
xgboost>=2.0
rapidfuzz>=3.0